/*
 *= require_tree .
 *= require_self
 */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 1em;
  box-sizing: border-box;

  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

header {
  background: navy;
  color: white;

  a {
    color: white;
    text-decoration: none;
  }
}

html, body {
  background: #efefef;
}

main {
  .container {
    background: white;
  }
}

.logo {
  float: left;
  font-weight: bold;
}

.logout {
  float: right;
}

.errors {
  color: maroon;
  margin-bottom: 1em;
}

.signin-form {
  width: 20em;
  border: 1px solid #ccc;
  padding: 2em;
  margin: 2em auto;
  background: #efefef;

  > div {
    padding: .3em 0;
  }

  label {
    display: inline-block;
    width: 6em;
  }

  input[type=submit] {
    margin-left: 6.3em;
  }
}

.task-list {
  padding: 1em;
  & + & {
    border-top: 1px solid darkblue;
  }

  h1 {
    font-size: 110%;
  }
}

.centered_text {
  text-align: center;
}

#topbar {
  display: inline-block;
  margin-right: 20px;
}

.blue_button {
  background-color: dodgerblue;
  color: white;
}

.flash {
  background-color: lawngreen;
  height: 50px;
  border: solid black 1px;
}

.errors {
  color: red;
}

.right_float {
  float: right;
}

.field_with_errors input {
  border: 1px solid red;
}

.bold {
  font-weight: bold;
}